body{

    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
form{
    text-align: left;
    border: solid 2px white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
    backdrop-filter: blur(5px);
}

a{
    text-transform: none;
    color: white;
    text-decoration: none;
}



.fa-solid{
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 5%;
    color: #20da7d;
    text-shadow: 3px 4px 7px black;

}


.form-label{
color: azure;
font-size: 20px;
}

.img_cad{
    margin-top: 20%;
}

.btn{
    width: 40%;
    margin-top: 20px;
}

#h1_cad_user{
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 3px 1px black;
}

.tipo {
    accent-color: rgb(151, 27, 151);
}

