body{
    background-image:url('img/1168.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title{
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
