form{
    text-align: left;
    border: solid 2px white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 10px 10px 6px;
    background-image: linear-gradient(#8205bc, #49006a);
}

.fa-solid{
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 5%;
    color: #20da7d;
	
}

body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-label{
color: azure;
font-size: 20px;
}

.img_cad{
    margin-top: 20%;
}

.btn{
    width: 40%;
    margin-top: 20px;
}

#h1_cad_user{
    color: white;
    text-align: center;
}
